<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Model\ProductRenderList">
        <arguments>
            <argument name="productAttributes" xsi:type="array">
                <item name="vendor_name" xsi:type="string">vendor_name</item>
                <item name="vendor_city" xsi:type="string">vendor_city</item>
                <item name="vendor_number" xsi:type="string">vendor_number</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="vendor_name" xsi:type="string">catalog_product</item>
                    <item name="vendor_city" xsi:type="string">catalog_product</item>
                    <item name="vendor_number" xsi:type="string">catalog_product</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
